In [1]:
import numpy as np

In [3]:
arr2D = np.arange(1, 10).reshape(3, -1)
arr2D

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
np.where(arr2D % 2 == 0, True, False)

array([[False,  True, False],
       [ True, False,  True],
       [False,  True, False]])

In [7]:
arr1D = arr2D.flatten()
arr1D

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
arr1D.reshape(9, -1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [11]:
arr2D.mean(), arr2D.mean(axis=0), arr2D.mean(axis=1)

(5.0, array([4., 5., 6.]), array([2., 5., 8.]))